## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

In [ ]:
print('Olá mundo')

![download.jpg]()

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A) =961.56
qtv_19 = 3
tkt_19 = 320.52

vtv_19 = qtv_19* tkt_19
print(vtv_19)

In [ ]:
# (B) = 7.000000000000001
vtv_20 = 834.47
tkt_20 = 119.21

qtv_20 = vtv_20/ tkt_20
print(qtv_20)

In [ ]:
#(c) =3075.6240000000003
svv_23 = 15378.12
sqv_23 = 5

tkt_23 = svv_23/ sqv_23
print(tkt_23)

## 3\. Strings

Aplique três métodos distintos na *string* abaixo

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.capitalize())
print(cancao.isalpha())
print(cancao.find(cancao))

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
selic = 'selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
ano ='selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
selic = selic [12:17]
print(selic)
ano = ano[62:68]
print(ano)

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b = False

print(False | True)
print(True | False)
print(True)

True
True
True

| A        | B        | | | A OR B   | | A AND B  | | NOT A    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |